{% extends 'bootstrap/base.html' %}

{% block title %}Spotlogger{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Spotlogger</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Location
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for gym in gyms %}
                        {% if gym.favourite %}
                            <a class="dropdown-item" href="/{{ gym.id }}/3"><b>{{ gym.name }}</b></a>
                        {% else %}
                            {% if loop.previtem.favourite %}
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            <a class="dropdown-item" href="/{{ gym.id }}/3">{{ gym.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            {% block navDaysDropdown %}{% endblock %}
        </ul>
    </div>
</nav>
{% endblock %}
