{% extends 'base.html' %}

{% block head %}
{{ super() }}
<meta http-equiv="refresh" content="10">
{% endblock %}

{% block title %}Open spots for {{ spots.gym }}{% endblock %}

{% block navDaysDropdown %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Days
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/{{ current_id }}/{{ 1 }}"><b>today</b></a>
        {% for i in [2, 3, 4, 5, 6, 7] %}
            <a class="dropdown-item" href="/{{ current_id }}/{{ i }}"><b>{{ i }}</b></a>
        {% endfor %}
    </div>
  </li>
{% endblock %}

{% block content %}
{% if spots.total_available == 0 %}
<div class="alert alert-danger" role="alert">
    <h2>
        <strong><a href="http://app.toplogger.nu">{{ spots.gym }}</a></strong><br>
        {% if days == 1 %}
            <small class="text-muted">No spots available today :(</small>
        {% else %}
            <small class="text-muted">No spots available until {{ until | dayFormat }} :(</small>
        {% endif %}
    </h2>
</div>
{% else %}
<div class="alert alert-info" role="alert">
    <h2>
        <strong><a href="http://app.toplogger.nu">{{ spots.gym }}</a></strong><br>
        {% if days == 1 %}
            <small class="text-muted">{{ spots.total_available }} spots available today.</small>
        {% else %}
            <small class="text-muted">{{ spots.total_available }} spots available until {{ until | dayFormat }}.</small>
        {% endif %}
    </h2>
</div>
{% endif %}

{% for area in spots.areas %}
    <div class="alert alert-light" role="alert">
        <h3><strong>{{ area.name }}</strong></h3>
        <div class="list-group">
        {% for day in area.days %}
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    {% if day.spots_available == 0 %}
                        <h5 class="mb-1 text-muted"><strong>{{ day.day | dayFormat }}</strong></h5>
                        <small class="text-muted">Available: {{ day.spots_available }}</small>
                    {% else %}
                        <h5 class="mb-1 text-dark"><strong>{{ day.day | dayFormat }}</strong></h5>
                        <small>Available: {{ day.spots_available }}</small>
                    {% endif %}
                </div>
                <ul class="list-group">
                    {% for spot in day.spots %}
                        <li class="list-group-item d-flex justify-content-start align-items-center">
                            <div class="ml-2 mr-2">
                                {% if spot.spots == 1 %}
                                    <span class="badge badge-danger badge-pill">{{ spot.spots }}</span>
                                {% else %}
                                    <span class="badge badge-info badge-pill">{{ spot.spots }}</span>
                                {% endif %}
                            </div>

                            <div class="d-flex flex-column justify-content-start">
                            <div class="ml-2 mr-5 text-dark">
                                {{ spot.start_at | timeFormat }} - {{ spot.end_at | timeFormat }}
                            </div>

                            {% if spot.details %}
                                <div class="ml-2 mr-5">
                                    <small class="text-muted">{{ spot.details }}</small>
                                </div>
                            {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </a>
        {% endfor %}
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}